@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* normalizing css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #171A26;
}

ul, p, li {
    padding: 0;
    margin: 0;
}

.logo {
    text-align: center;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

h1 {
    display: none;
}

.flex {
    display: flex;
}

.justify-align-center{
    justify-content: center;
    align-items: center;
}

.grey-light-color {
    color: #445760;
}


header {
    height: 100px;
    margin: auto;
    max-width: 768px;
}

main {
    flex-direction: column;
    width: 90%;
    max-width: 768px;
    margin: 0 auto 50px auto;
}

#searchContainer{
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 768px;
    width: 100%;
    gap: 15px;
}

#searchContainer input {
    width: 100%;
    max-width: 330px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchBtn {
    height: 33px;
    flex-grow: 1;
    cursor: pointer;
    background-color: #FF2B63;
    border: none;
    color: #fff;
    border-radius: 5px;
    position: relative;
}

#searchBtn:hover {
    background-color: #fb0043;
}

#searchBtn:active {
    top: 1px;
}

#resultsContainer{
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

#resultsContainer ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#resultsContainer li {
    padding: 10px 0;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    gap: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#resultsContainer ul li span {
    margin: 0 10px;
}

footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: -10px 0 10px #ccc;
}

.credits {
    font-size: 0.9em;
}

.credits a:hover {
    color: #fb0043;
}